.app {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--base-color);
}
