:root {
  --main-color: #ffcdb2;
  --base-color: #6d6875;
  --accent-color1: #ffb4a2;
  --accent-color2: #e5989b;
  --accent-color3: #b5838d;
  --main-bg-color: #f8f8ff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}
